body {
    padding-bottom: 70px;
    padding-top: 70px;
}

#video_container .panel-body, #own_video_container .panel-body {
    padding: 0px;
}
.note-editor {
    border: 0;
}
.note-editor .note-statusbar .note-resizebar {
    border: 0;
}
.note-editor .note-toolbar {
    border: 0;
}

#textChat{
  border-top: 1px solid #ddd;
  max-height: 200px;
  overflow: scroll;
}

.conversationbox{
  min-height: 62px !important;
}

video {
  padding: 10px;
}
